<a href="https://colab.research.google.com/github/tom2rd/Googlecolabutils/blob/master/PythonExcel_internet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python でインターネットからエクセルファイルを開く
Pandas　と　Urllibだけ

参考　

pandas excelなどの説明

https://qiita.com/hasepy/items/06d5d2e2b6495752442c

https://datumstudio.jp/blog/1722

Pandas のチートシート
https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet_JA.pdf

Pandas　本家
https://pandas.pydata.org/

In [78]:
import pandas as pd
import urllib
link = 'https://www.city.inagi.tokyo.jp/kosodate/kodomoshien_center/event/baby.files/201909yanokutiositate.xlsx'
socket = urllib.request.urlopen(link)
xls = pd.ExcelFile(socket)
df = xls.parse(xls.sheet_names[0], header=None, index_col=None)
df

                                                    0  ...                                                  6
0   平成31年度　9月号      　矢野口  ・   押立地域　    　子育て支援事業　  ...  ...                                                NaN
1                                                   日  ...                                                  土
2                                                   1  ...  7\n◎チャイルドケアセンター\n　　　子育てサロン\n　　　　「フラワー紙をまるめて\n　...
3                                                   8  ...                                                 14
4                                                  15  ...                                                 21
5                                                  22  ...                         28\n◆青葉幼稚園　\n　　　　　　未就園児運動会
6                                                  29  ...                                                NaN
7         ※　都合により、内容が変更になる場合がございます。詳細は、各施設にお問合わせください。  ...                                                NaN
8                                                 NaN  ...                                                NaN
9                                                 NaN  ...                                                NaN
10                                                NaN  ...                                                NaN
11                                                NaN  ...                                                NaN
12                                                NaN  ...                                                NaN
13                                                NaN  ...                                                NaN
14                                                NaN  ...                                                NaN
15                                                NaN  ...                                                NaN
16                                                NaN  ...                                                NaN
17                                                NaN  ...                                                NaN
18                                                NaN  ...                                                NaN
19                                                NaN  ...                                                NaN
20                                                NaN  ...                                                NaN
21                                                NaN  ...                                                NaN
22                                                NaN  ...                                                NaN

[23 rows x 7 columns]

年度、月　地域　を取り出す　この場合　TitleText[0]が年度

In [68]:
TitleText=df.iloc[0,0].split()
print(TitleText[0])
print(TitleText[1])
print(TitleText[2])
print(TitleText[4])
print(TitleText[5])

平成31年度
9月号
矢野口
押立地域
子育て支援事業

月のデータを分割してリストに入れてみる

例えば、3行目の3列目のデータには、３日　、場所

In [77]:
C3R3=df.iloc[2,2]
C3R3

'3\n★第二児童館\u3000 ましゅまろ広場\n♥松葉保育園   園庭開放\n♪中島ゆうし保育園\u3000\u3000園庭開放\n◆青葉幼稚園\u3000\u3000園庭開放\n◎チャイルドケアセンター 親子ふれあい広場\n'

In [86]:
df.loc[1]

0    日
1    月
2    火
3    水
4    木
5    金
6    土
Name: 1, dtype: object

In [93]:
df.loc[2]

0                                                    1
1    2\n★第二児童館　 ましゅまろ広場\n♪中島ゆうし保育園　　室内開放\n◆青葉幼稚園　　園庭開放
2    3\n★第二児童館　 ましゅまろ広場\n♥松葉保育園   園庭開放\n♪中島ゆうし保育園　　...
3    4\n★第二児童館　  出張あそびの広場\n●第二図書館　　\n　　　　おひざにだっこのおは...
4    5\n●第二図書館　　えほんのじかん\n♥松葉保育園   園庭開放\n♪中島ゆうし保育園　　...
5    6\n♥松葉保育園   ひまわりの会\n　  「感触あそび～寒天ゼリー～」\n♪中島ゆうし保...
6    7\n◎チャイルドケアセンター\n　　　子育てサロン\n　　　　「フラワー紙をまるめて\n　...
Name: 2, dtype: object